<form (ngSubmit)="onSubmit()">
  <label>
    Descripción:
    <input type="text" name="nombre" [(ngModel)]="nuevoGasto.nombre">
  </label>
  <br>
  <label>
    Monto:
    <input type="text" name="monto" [(ngModel)]="nuevoGasto.monto">
  </label>
  <!-- <select [(ngModel)]="nuevoGasto.categoria" name="categoriaId">
    <option value="" disabled selected>Selecciona una categoría</option>
    <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{ categoria.nombre }}</option>
  </select>
  <select [(ngModel)]="nuevoGasto.usuarioOrigen" name="usuarioOrigenId">
    <option value="" disabled selected>Selecciona un usuario</option>
    <option *ngFor="let usuario of usuarios" [value]="usuario.nombreUsuario">{{ usuario.nombreUsuario }}</option>
  </select> -->
  <select *ngIf="categorias && categorias.length > 0" [(ngModel)]="nuevoGasto.categoria" name="categoriaId">
    <option value="" disabled selected>Selecciona una categoría</option>
    <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
  </select>
  
  <select *ngIf="usuarios && usuarios.length > 0" [(ngModel)]="nuevoGasto.usuarioOrigen" name="usuarioOrigenId">
    <option value="" disabled selected>Selecciona un usuario</option>
    <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{ usuario.nombreUsuario }}</option>
  </select>
  

  <!-- Otros campos según los datos requeridos por tu backend -->
  <button type="submit">Crear Gasto</button>
</form>

